:root{
    --purple: #838091;
    --gray: #D7D7D7;
    --drkPurple: rgba(0,0,0,.50);
    --lightPurple: #5d5cb4;
    --gradient: linear-gradient(45deg, rgba(131,128,145,1) 0%, rgba(134,133,239,1) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

body{
    background: var(--gradient);
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*---Header---*/
a,h1,h2,h3{
    text-decoration: none;
}

header{
    width: 100%;
    font-family:sans-serif;
}

.nav-bar{
    font-size: 1.7rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

ul{
    list-style-type: none;
}

.link{
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: var(--lightPurple);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

header a:hover{
    /* text-decoration: underline; */
}

/*---About-Me---*/
.about{
    max-width: 60rem;
    margin: 10rem auto;
    font-size: 1.5rem;
    margin-bottom: 20rem;
    padding: 0 2rem;
}

.about h1{
    font-size: 4em;
}

.flex-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box{
    height: 5px;
    width: 25rem;
    background: var(--lightPurple);
}

.home-icons{
    width: 30px;
    height: 30px;
}

.resumeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--lightPurple);
    font-family: monospace;
}

.resumeBtn:hover{
    transition: 0.5s;
    background-color: var(--drkPurple);
}

/*---Project Showcase---*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

main h1{
    font-size: 5rem;
}

.project-name{
    margin-top: 5rem;
    font-size: 2rem;
}

.flex-projects{
    margin: 1rem 0rem;
    font-size: 2rem;
    width: 80rem;
    position: relative;
    height: 40rem;
    overflow: hidden;
}

.project{
    position: absolute;
    transition: all 0.25s ease-in-out;
}

.project-pic{
    width: 80rem;
}

.project-bg {
    position: absolute;
    top: 0;
    width: 80rem;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

.project-bg:hover{
    opacity: 1;
}

.project-description{
    background-color: rgba(215, 215, 215, 0.3);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.btn-container{
    margin-bottom: 3rem;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn{
    width: 3rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--lightPurple);
    font-family: monospace;
}

.btn:hover{
    transition: 0.5s;
    background-color: var(--drkPurple);
}

/*---Contact Me---*/

footer{
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

footer h1{
    font-size: 5rem;
    position: relative;
}

.contact_container{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 5rem;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contactForm{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
}

input{
    height: 3rem;
}

textarea{
    height: 10rem;
}

::placeholder{
    color: var(--gray);
}

.formStyle{
    padding: 1rem;
    background-color: var(--drkPurple);
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.submitBtn{
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn:hover{
    background-color: black;
}

.reset{
    background: none;
    border-radius: 1rem;
    position: relative;
    
    left: 50%;
    margin-top: 2rem;
}

.arrow{
    width: 2rem;
}

.arrow:hover{
    width: 2.2rem;
}

@media only screen and (max-width: 600px) {
    .contactForm{
        width: 15rem;
    }
  
    .contact_container{
        gap: 1rem;
    }
}

/*---Scroll Bar Style---*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--drkPurple); 
  }